*.aps
*.bak
*.cache
*.db
*.exe
*.ilk
*.lib
*.log
*.ncb
*.obj
*.pch
*.pdb
*.sbr
*.suo
*.tlb
*.tlh
*.user
*.vspscc
*_i.c
*_p.c
.vs/
/ToDo.txt
Thumbs.db
[Bb]in
[Dd]ebug*/
[Rr]elease*/
[Tt]est[Rr]esult*
_ReSharper*/
backup/*
debug.txt
lib/*
obj/
packages/
Rest/*